*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vs
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[cC]atlog
*.[oO]bj
*.[eE]xp
*.[lL]og
*.[iI]nt
*.[dD]ep
*.[rR]es
*.[mM]anifest
Debug/
Release/
x64/
build/
